<h2 mat-dialog-title>Change User Status</h2>
<mat-dialog-content>
  <p>Select the new status for <strong>{{ user.fullName }}</strong>:</p>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="statusControl" disableOptionCentering>
      @for (status of statusOptions; track status) {
        <mat-option [value]="status">
          {{ status }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="m-l-8 bg-secondary text-white" mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    class="m-l-8 bg-primary text-white"
    mat-dialog-close
    cdkFocusInitial
    (click)="confirmChange()"
  >
    Change Status
  </button>
</mat-dialog-actions>
