<div class="d-flex align-items-center justify-content-between m-b-16 p-x-20 p-t-16">
  <h3>Create Contact</h3>
  <button
    mat-icon-button
    mat-dialog-close
    class="d-flex justify-content-center"
  >
    <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
  </button>
</div>

<mat-dialog-content>
  <form [formGroup]="contactForm">
    <div class="row">
      <div class="col-md-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">First Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            formControlName="firstName"
            placeholder="Enter first name"
            required
          />
          <mat-error *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched">
            <span *ngIf="contactForm.get('firstName')?.errors?.['required']">First name is required</span>
            <span *ngIf="contactForm.get('firstName')?.errors?.['minlength']">First name must be at least 2 characters</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Last Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            formControlName="lastName"
            placeholder="Enter last name"
            required
          />
          <mat-error *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched">
            <span *ngIf="contactForm.get('lastName')?.errors?.['required']">Last name is required</span>
            <span *ngIf="contactForm.get('lastName')?.errors?.['minlength']">Last name must be at least 2 characters</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Email</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="Enter email address"
            required
          />
          <mat-error *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
            <span *ngIf="contactForm.get('email')?.errors?.['required']">Email is required</span>
            <span *ngIf="contactForm.get('email')?.errors?.['email']">Please enter a valid email</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Phone (Optional)</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            formControlName="phone"
            placeholder="Enter phone number"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Tags</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="tagIds" multiple>
            <mat-option *ngFor="let tag of availableTags" [value]="tag.id">
              {{ tag.name }}
            </mat-option>
          </mat-select>
          <mat-hint>Select tags to categorize this contact</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions align="end" class="px-0">
      <button
        mat-button
        (click)="closeDialog()"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        color="primary"
        (click)="doAction()"
        [disabled]="isLoading || contactForm.invalid"
      >
        <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
        <span *ngIf="!isLoading">Create</span>
      </button>
    </div>
  </form>
</mat-dialog-content>
