<div class="d-flex align-items-center justify-content-between m-b-16 p-x-20 p-t-16">
  <h3>Edit User</h3>
  <button mat-icon-button mat-dialog-close class="d-flex justify-content-center">
    <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
  </button>
</div>

<mat-dialog-content>
  <form [formGroup]="personForm">
    <div class="row">
      <div class="col-md-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Email</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="email" type="email" placeholder="Enter email address" required />
          @if (personForm.get('email')?.invalid && personForm.get('email')?.touched) {
            <mat-error>
              @if (personForm.get('email')?.errors?.['required']) {
                <span>Email is required</span>
              }
              @if (personForm.get('email')?.errors?.['email']) {
                <span>Please enter a valid email</span>
              }
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Language</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="language" placeholder="e.g. fr, en" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">First Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="firstName" placeholder="Enter first name" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Last Name</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput formControlName="lastName" placeholder="Enter last name" />
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-actions align="end" class="px-0">
      <button mat-button (click)="close()">Cancel</button>
      <button mat-flat-button color="primary" (click)="save()" [disabled]="isSaving || personForm.invalid">
        @if (isSaving) {
          <mat-spinner diameter="20"></mat-spinner>
        }
        @if (!isSaving) {
          <span>Save</span>
        }
      </button>
    </div>
  </form>
</mat-dialog-content>
