<div class="skeleton-table">
  <div class="skeleton-table-row header" [ngClass]="colsClass">
    @for (_ of columnIndexes; track _) {
      <span class="skeleton-line skeleton-line--sm"></span>
    }
  </div>

  @for (_ of rowIndexes; track _) {
    <div class="skeleton-table-row" [ngClass]="colsClass">
      @for (columnIndex of columnIndexes; track columnIndex) {
        @if (!isChipColumn(columnIndex)) {
          <span
            class="skeleton-line">
          </span>
        } @else {
          <span class="skeleton-chip"></span>
        }
      }
    </div>
  }
</div>

@if (showPagination) {
  <div class="skeleton-table-pagination">
    <span class="skeleton-line left"></span>
    <span class="skeleton-line right"></span>
  </div>
}
