@use "../variables" as *;

[dir="rtl"] {

  // ------------------------------------------------------
  // header
  // ------------------------------------------------------
  .upgrade-bg {
    left: 0;
    right: unset;
    transform: scaleX(-1);
  }

  // highlight
  td.hljs-ln-line.hljs-ln-numbers {
    padding-left: 10px;
    padding-right: 0;
  }

  //   logo flip
  .branding img {
    transform: scaleX(-1);
  }

  .breadcrumb-icon {
    left: 19px;
    right: unset;
  }

  .breadcrumb-item {
    &:first-child {
      margin-left: 0;
      margin-right: -20px;
    }

    &.active {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  // sidebar

  .sidebarNav {
    border-left: 1px solid var(--mat-sys-outline-variant);
    border-right: 0;
  }
}
