<h2 mat-dialog-title>Change User Role</h2>
<mat-dialog-content>
  <p>Select the new role for <strong>{{ user.fullName }}</strong>:</p>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Role</mat-label>
    <mat-select [formControl]="roleControl" disableOptionCentering>
      @for (role of roleOptions; track role) {
        <mat-option [value]="role">
          {{ role }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Reason</mat-label>
    <textarea
      matInput
      [(ngModel)]="reason"
      placeholder="Enter reason for role change"
      rows="3"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="m-l-8 bg-secondary text-white" mat-dialog-close>Cancel</button>
  <button
    mat-button
    mat-dialog-close
    cdkFocusInitial
    class="m-l-8 bg-primary text-white"
    (click)="confirmChange()"
  >
    Change Role
  </button>
</mat-dialog-actions>