<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <app-branding></app-branding>
        <div class="align-items-center justify-content-center img-height d-none d-lg-flex">
          <img src="/assets/images/backgrounds/login-bg.svg" alt="reset" style="max-width: 500px" />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h4 class="f-w-700 f-s-24 m-0">Verify code</h4>
            <span class="f-s-14 d-block f-s-14 m-t-8">Enter the 6-digit verification code you received.</span>

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <!-- OTP Input Fields -->
              <div class="otp-container d-flex justify-content-between m-b-20">
                <input
                  type="text"
                  id="digit1"
                  formControlName="digit1"
                  maxlength="1"
                  class="otp-input"
                  (input)="onDigitInput($event, 1)"
                  (keydown)="onDigitKeyDown($event, 1)"
                  (blur)="onDigitBlur(1)"
                  (paste)="onDigitPaste($event, 1)"
                  [class.otp-error]="f['digit1'].touched && f['digit1'].invalid && !isFieldBeingEdited('digit1')"
                />
                <input
                  type="text"
                  id="digit2"
                  formControlName="digit2"
                  maxlength="1"
                  class="otp-input"
                  (input)="onDigitInput($event, 2)"
                  (keydown)="onDigitKeyDown($event, 2)"
                  (blur)="onDigitBlur(2)"
                  (paste)="onDigitPaste($event, 2)"
                  [class.otp-error]="f['digit2'].touched && f['digit2'].invalid && !isFieldBeingEdited('digit2')"
                />
                <input
                  type="text"
                  id="digit3"
                  formControlName="digit3"
                  maxlength="1"
                  class="otp-input"
                  (input)="onDigitInput($event, 3)"
                  (keydown)="onDigitKeyDown($event, 3)"
                  (blur)="onDigitBlur(3)"
                  (paste)="onDigitPaste($event, 3)"
                  [class.otp-error]="f['digit3'].touched && f['digit3'].invalid && !isFieldBeingEdited('digit3')"
                />
                <input
                  type="text"
                  id="digit4"
                  formControlName="digit4"
                  maxlength="1"
                  class="otp-input"
                  (input)="onDigitInput($event, 4)"
                  (keydown)="onDigitKeyDown($event, 4)"
                  (blur)="onDigitBlur(4)"
                  (paste)="onDigitPaste($event, 4)"
                  [class.otp-error]="f['digit4'].touched && f['digit4'].invalid && !isFieldBeingEdited('digit4')"
                />
                <input
                  type="text"
                  id="digit5"
                  formControlName="digit5"
                  maxlength="1"
                  class="otp-input"
                  (input)="onDigitInput($event, 5)"
                  (keydown)="onDigitKeyDown($event, 5)"
                  (blur)="onDigitBlur(5)"
                  (paste)="onDigitPaste($event, 5)"
                  [class.otp-error]="f['digit5'].touched && f['digit5'].invalid && !isFieldBeingEdited('digit5')"
                />
                <input
                  type="text"
                  id="digit6"
                  formControlName="digit6"
                  maxlength="1"
                  class="otp-input"
                  (input)="onDigitInput($event, 6)"
                  (keydown)="onDigitKeyDown($event, 6)"
                  (blur)="onDigitBlur(6)"
                  (paste)="onDigitPaste($event, 6)"
                  [class.otp-error]="f['digit6'].touched && f['digit6'].invalid && !isFieldBeingEdited('digit6')"
                />
              </div>

              @if(error()) {
              <div class="login-error-message m-t-12">
                <div class="text-error">{{ error() }}</div>
              </div>
              }

              <button
                mat-flat-button
                color="primary"
                class="w-100 m-t-16"
                [disabled]="!form.valid || isLoading()"
                type="submit"
              >
                @if(isLoading()) {
                <span>Verifying...</span>
                } @else {
                <span>Verify Code</span>
                }
              </button>

              <a [routerLink]="['/authentication/login']" mat-stroked-button color="primary" class="w-100 m-t-8">Back to Login</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>