<div class="d-flex align-items-center justify-content-between m-b-16 p-x-20 p-t-16">
  <h3>Delete Role</h3>
  <button
    mat-icon-button
    mat-dialog-close
    class="d-flex justify-content-center"
  >
    <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
  </button>
</div>

<div class="p-x-24 m-y-8">
  <p class="f-s-14">
    Are you sure you want to delete the role <span class="f-w-600">{{local_data.name}}</span>?
  </p>
  <p class="f-s-12 text-muted mt-2">
    This action cannot be undone.
  </p>
</div>
<div mat-dialog-actions align="end" class="p-x-24 p-b-24">
  <button
    mat-flat-button
    (click)="closeDialog()"
  >
    Cancel
  </button>
  <button
    mat-flat-button
    class="m-l-8 bg-error text-white"
    (click)="confirmDelete()"
  >
    Delete Role
  </button>
</div>