html.delivx_theme {
  --mat-sys-primary: rgb(241, 174, 80);
  --mat-sys-primary-fixed-dim: rgba(241, 174, 80, 0.231);
  --mat-sys-secondary: rgb(4, 100, 36);
  --mat-sys-secondary-fixed-dim: rgb(71, 215, 188, 0.15);
  --mat-sys-tertiary: rgb(4, 100, 188);
}