html.komflow_theme {
  --mat-sys-primary: rgb(49 255 123);
  --mat-sys-primary-fixed-dim: rgba(49, 255, 125, 0.15);
  --mat-sys-secondary: rgb(255 128 74);
  --mat-sys-secondary-fixed-dim: rgba(255, 128, 74, 0.15);
  --mat-sys-tertiary: rgb(4, 100, 188);
}